.editor {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  padding: var(--spacing-64);

  &__content {
    width: 100%;
    max-width: 800px;
    padding: var(--spacing-80) 0;

    // Temporary styles for placeholder content
    h1 {
      font: var(--text-heading-2xl);
      margin-bottom: var(--spacing-12);
    }

    p {
      font: var(--text-body-md);
      color: var(--color-text-secondary);
    }
  }
}
